.jumbotron{
    
    background-color: #dd1c1a;
    color: #000000;
    font-size: 5.625rem;
    padding: 100px 0;
    font-family: 'Sacramento', cursive;
}
.input-group{
    width: 40%;
    font-family: monospace;
    font-size: medium;
    align-self: center;
    margin: auto;
}
.btn{
    background-color: darkgrey;
}